<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="llf.llf.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="llf.llf.pojo.Admin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,username,
        password,email,phone,
        avatar
    </sql>

    <insert id="add" parameterType="llf.llf.pojo.Admin" useGeneratedKeys="true" keyProperty="id">
        insert into admin (name,username,password,email,phone,avatar)
        values (#{name},#{username},#{password},#{email},#{phone},#{avatar})
    </insert>

    <update id="update" parameterType="llf.llf.pojo.Admin">
        UPDATE admin
        SET name = #{name},
            username = #{username},
            password = #{password},
            email = #{email},
            phone = #{phone},
            avatar = #{avatar}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        delete from admin where id=#{id}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
            select * from admin
    </select>
    <select id="selectById" resultType="llf.llf.pojo.Admin">
        select * from admin where id=#{id}
    </select>

    <select id="login" resultType="llf.llf.pojo.Admin">
        select * from admin where username=#{username} and password=#{password}
    </select>

</mapper>
