<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="llf.llf.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="llf.llf.pojo.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, username, password, email, phone, avatar
    </sql>

    <insert id="add">
        INSERT INTO user (name, username, password, email, phone, avatar)
        VALUES (#{name}, #{username}, #{password}, #{email}, #{phone}, #{avatar})
    </insert>

    <update id="update">
        UPDATE user SET
            name = #{name},
            username = #{username},
            password = #{password},
            email = #{email},
            phone = #{phone},
            avatar = #{avatar}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM user
    </select>

    <select id="selectById" parameterType="int" resultType="llf.llf.pojo.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
</mapper>
